@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4 mb-4">Welcome to Flowance</h1>
    <p class="lead mb-4">Learn about <a href="https://learn.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Register" asp-action="Index">Get Started</a>
</div>
